body {
  font-family: "Roboto", sans-serif;
  background-color: #1e202b;
  color: white;
  font-size: 14px;
}

.site-logo img {
  width: 64px;
  height: 38px;
}

.site-logo h1 {
  font-size: 16px;
}

.site-logo p {
  font-size: 10px;
  font-weight: 300;
}

.nav-button,
.nav-button:hover,
.nav-button.active {
  border: 2px solid transparent;
  border-radius: 16px;
}

.nav-button:hover,
.nav-button.active {
  color: #009ad8 !important;
  border-color: #009ad8;
}

.nav-button,
.nav-button:focus {
  color: white;
}

.nav-button {
  font-size: 14px;
}

main {
  background-image: url("./resources/images/banner.png");
  background-size: unset;
  background-repeat: no-repeat;
}

.search-container {
  padding-block: 70px;
}

.search-container input {
  padding: 20px 114px 20px 20px;
  background-color: #1e202b;
  outline: none;
  border-radius: 30px;
  font-size: 14px;
}

.search-container button {
  padding: 13px 40px;
  border-radius: 30px;
  background-color: #009ad8;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  font-size: 14px;
}

.day-color-1 {
  background-color: #323544;
}

.day-color-2 {
  background-color: #262936;
}

.day {
  color: #bfc1c8;
}

.day-header {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.day-body {
  padding: 30px 20px;
}

.day-body .location {
  font-size: 18px;
}

.day-body .temp {
  font-size: 90px;
  font-weight: bold;
}

.day-body img {
  width: 90px;
  height: 90px;
}

.state {
  color: #009ad8;
  margin-block: 20px;
}

.day-stats img {
  width: 21px;
  height: 21px;
}

.day-body-other {
  padding: 50px 20px 10px 20px;
}

.day-body-other img {
  width: 48px;
  height: 48px;
  margin-bottom: 20px;
}

.day-body-other .temp-high {
  font-size: 24px;
  font-weight: bold;
}
